<<<<<<< HEAD
<h2>Welcome to Flatiron Widgets</h2>
=======
<h2>Welcome to Flatiron Widgets</h2>
<ol>
    <li>updated labs</li>
    <li>better written labs</li>
    <li>not-broken spec files</li>
    <li>competent staff</li>
</ol>
>>>>>>> 4e44c7b4faff843896d78d92f631aff4b8d641b4
