<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>Document</title>
=======
    <title>Flatiron Widgets Store</title>
>>>>>>> 4e44c7b4faff843896d78d92f631aff4b8d641b4
</head>
<body>
    <h1>Flatiron Widgets Store</h1>
    <%= yield %>
</body>
</html>